body{
    margin: 0;
    padding: 0;
    font-size: 1.3em;
    background-image: url('images/shell.jpg');
    background-size: cover;
}
.container{
    margin: 0 auto;
    width: 80%;
    display:grid;
    grid-template-rows: 1000px;
    grid-template-columns: repeat(12, 1fr);
    /* justify-content: center; */
    box-sizing: border-box;

}

aside{

    grid-column: span 3;
    background-color: #2c3e50;
    
}

section{
    grid-column: span 9;
    background: white;
    margin-top: -20px;

}

h2{
    text-align: center;
    
}

section h2{
    color: #2980b9;
}

section input[type="submit"]{
    float:right;
    margin-right: 0px;
    color: white;
    background-color: #2980b9;
    top: 100px;
    right: 200px;
    /* right: 80px; */
    border:none;
    width: 80px;
    height: 40px;
    border-radius: 20px;
    font-weight: bold;
}


section.title{
    box-sizing: border-box;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    border: 1px solid rgba(0, 0, 0, .1);
}
input[type="submit"]:hover{
    cursor: pointer;
    background: #27ae60;
    
}

aside .title{

    line-height: 60px;
    color:white;
    background-color: #2ecc71;
    margin-top: -38px;
}

input[type="submit"] a{
    text-decoration: none;
    color: white;
    
}

input[type="submit"]{
    position: absolute;
    margin-top: 95vh;
    margin-right: 70vh;
    left: 40%;
}
aside ul li{
    text-align: left;
    list-style-type: none;
    color:white;
    padding: 25px;
}

aside ul li a{
    text-decoration: none;
    color:white;
}
aside .title{
    text-align: center;
}

/*FORM*---------->*/

form{
   float: left;
   padding:  20px 100px;
   
}

form label{
    /* margin: right; */
    /* display: inline-block; */
    margin-right: 20px;
   
}

section input, section select{
    padding: 10px 0;
    width: 100%;
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 10px;
}
table td{
    padding-left: 20px;
}



